.sobre-container {
  display: flex;
  gap: 60px;          /* espaçamento maior entre lista e detalhes */
  height: 81vh;       /* quase toda a altura da tela */
  padding: 20px;
  box-sizing: border-box;
  position: relative; 
   
 
}

.lista-projetos ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

.lista-projetos li {
  padding: 12px 15px;
 
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 206px ;
}

.lista-projetos li.ativo,
.lista-projetos li:hover {
  background-color:#4fc3f7;
  color: white;
}

.detalhes-projeto {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
      position: relative;
    left: 10px;
    background-color: #555;
}

.detalhes-projeto h2 {
  margin-top: 0;
  font-size: 1.8em;
  color: #4fc3f7;
}

.detalhes-projeto p {
  flex: 1 1 45%;       /* ocupa o restante do espaço disponível */
  font-size: 1.1em;
  line-height: 1.4;
  margin: 0;
  min-width: 250px;    /* evita ficar muito estreito */
}

.imagem-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.imagem-container img {
  max-width: 50%;
  height: auto;
  display: block;
  border-radius: 8px;
}
@media (max-width: 768px){
 .sobre-container {
  height: 880px;
  position: relative;
        top: -35px;
 }
 .lista-projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista-projetos ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* dois por linha */
  gap: 10px;
  max-width: 440px;
  width: 100%;
}

.lista-projetos li {
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-color: #2c2c2c;
  color: #ccc;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.lista-projetos li.ativo,
.lista-projetos li:hover {
  background-color: #4fc3f7;
  color: white;
}

.detalhes-projeto {
  width: 95%;
  max-width: 440px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #555;
  color: #fff;
  margin-top: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 360px;
}




}